<div class="card mb-4">
    <div class="card-img-wrapper">
      <img
        class="card-img-top"
        src="{{ recipe.photoUrl }}"
        alt="{{ recipe.name }}"
        [routerLink]="['/recipes/edit/', recipe.recipeId]"
      />
    </div>
    <div class="card-body p-1">
      <h6 class="card-title text-center mb-1">
        <i class="fa fa-recipe"></i>
        {{ recipe.name }}
        <i
          class="fa fa-leaf fa-lg"
          tooltip="Vegetarian"
          *ngIf="recipe.isVegetarian"
        ></i>
        <i
          class="fa fa-pagelines fa-lg"
          tooltip="Vegan"
          *ngIf="recipe.isVegan"
        ></i
        >
      </h6>
      <p class="card-text text-muted text-center"></p>
    </div>
  </div>