<h2>Comments</h2>
<div class="tab-panel">
  <table class="table table-hover" style="cursor: pointer;">
    <tr>
      <th style="width: 52%;">Comment</th>
      <th style="width: 18%;">Author</th>
      <th style="width: 18%;">Date</th>
    </tr>
    <tr *ngFor="let comment of comments">
      <td>{{ comment.message }}</td>
      <td>
        <div>
          <img
            src="{{ comment?.avatarUrl }}"
            class="img-circle rounded-circle mr-1"
          />
          <strong>{{ comment.username }}</strong>
        </div>
      </td>
      <td>{{ comment.dateAdded | date: 'short' }}</td>
    </tr>
  </table>
</div>
<div class="tab-panel">
  <div class="card-footer">
    <form #commentForm="ngForm" (ngSubmit)="commentForm.valid && addComment()">
      <div class="input-group">
        <input
          type="text"
          [(ngModel)]="newComment.message"
          name="content"
          required
          class="form-control input-sm"
          placeholder="send a private message"
        />
        <div class="input-group-append">
          <button [disabled]="!commentForm.valid" class="btn btn-primary">
            Send
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
